<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369984290646-uvmguaaest91cke9iek84ah3cfvp0hde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369984290646-uvmguaaest91cke9iek84ah3cfvp0hde</string>
	<key>API_KEY</key>
	<string>AIzaSyAb8RNBm5q2MlrFPPoxWLo5K34J5bCetPY</string>
	<key>GCM_SENDER_ID</key>
	<string>369984290646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stschults.SimpleChat</string>
	<key>PROJECT_ID</key>
	<string>simplechat-d5055</string>
	<key>STORAGE_BUCKET</key>
	<string>simplechat-d5055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369984290646:ios:29b1a00e67d494727b20f7</string>
</dict>
</plist>